.TablaClasificacion {
  font-size: .85rem;
  margin: 1rem 0;
  box-shadow: 0rem .05rem .5rem rgba(0, 0, 0, .25);
}

.TablaClasificacion__header {
  display: flex;
  padding: .5rem 0;
  border-bottom: none;
  background-color: #0288D1;
  color: white;
  font-weight: 600;
}

.TablaClasificacion__fila {
  padding: .5rem 0;
  border-bottom: none;
}

.TablaClasificacion__fila:last-child {
}

.TablaClasificacion__fila:nth-child(even) {
  background-color: #f5f5f5;
}

.TablaClasificacion__header > div:first-child,
.TablaClasificacion__fila > div:first-child {
  min-width: 5rem;
}

.TablaClasificacion__header > div:nth-child(2),
.TablaClasificacion__fila > div:nth-child(2) {
  min-width: 10rem;
}

.TablaClasificacion__header > div:nth-child(3),
.TablaClasificacion__fila > div:nth-child(3) {
  min-width: 10rem;
}

.TablaClasificacion__header > div:nth-child(4),
.TablaClasificacion__fila > div:nth-child(4) {
  min-width: 10rem;
}

.TablaClasificacion__header > div,
.TablaClasificacion__fila > div {
  padding: 0 .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TablaClasificacion__fila {
  display: flex;
}

.TablaClasificacion__circulo_clase {
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
}

.TablaClasificacion__td_circulito {
  display: flex;
  justify-content: center;
  width: 100%;
}