.TablaPorcentajes {
  margin-top: 1rem;
  font-size: .85rem;
}

.TablaPorcentajes__fila {
  display: flex;
}

.TablaPorcentajes__fila div {
  width: 6rem;
  border: 1px solid black;
}

.TablaPorcentajes__fila div:first-child {
  width: 9rem;
}

.TablaPorcentajes__fila div {
  padding: .25rem;
  display: flex;
  align-items: center;
}

.TablaPorcentajes__titulo {
  font-weight: 600;
  margin-bottom: .5rem;
  font-size: 1rem;
}

.TablaPorcentajes__input {
  width: 100%;
}

.TablaPorcentajes__superior {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}