.TablaPorcentajes {
  margin-top: 1rem;
  font-size: .85rem;
}

.TablaPorcentajes__fila {
  display: flex;
}

.TablaPorcentajes__fila:first-child {
  background-color: #0288D1;
  color: white;
  font-weight: 600;
}

.TablaPorcentajes__fila:last-child {
  border-bottom: 1px solid #212121;
}

.TablaPorcentajes__fila > div {
  width: 6rem;
  border-left: 1px solid #212121;
  border-top: 1px solid #212121;
}

.TablaPorcentajes__fila > div:last-child {
  border-right: 1px solid #212121;
}

.TablaPorcentajes__fila div:first-child {
  width: 9rem;
}

.TablaPorcentajes__fila div {
  padding: .25rem;
  display: flex;
  align-items: center;
}

.TablaPorcentajes__titulo {
  margin-bottom: .5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.TablaPorcentajes__input {
  width: 100%;
}

.TablaPorcentajes__superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.TablaPorcentajes__boton_unidades {
  outline: none;
  border: 1px solid #424242;
  font-size: .75rem;
}

.TablaPorcentajes__boton_unidades:first-child {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.TablaPorcentajes__boton_unidades:last-child {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.TablaPorcentajes__boton_unidades--activo {
  background-color: #0288D1;
  color: white;
}