.Introduccion {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.Introduccion__contenedor {
  width: 40vw;
  line-height: 2;
  padding-top: 3rem;
}