.Header {
  background-color: #0288D1;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: .85rem;
}