.Biomasa {
  padding-bottom: 10rem;
  display: flex;
}

.Biomasa__titulo {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.Biomasa__parametros {
  flex: 1;
}

.Biomasa__contenedor {
  display: flex;
  flex: 1;
}

.Biomasa__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: .9rem;
}

.Biomasa__label {
  width: 10rem;
  margin-right: .5rem;
  font-size: .85rem;
  margin-bottom: .25rem;
}

.Biomasa__inputs label {
  display: flex;
  margin-bottom: .25rem;
}

.Biomasa__contenedor_porcentajes {
  display: flex;
}

.Biomasa__parametro_descomposicion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}