.ModeloCentro__titulo {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.ModeloCentro__input {
  flex: 1;
}

.ModeloCentro__parametro {
  display: flex;
  align-items: center;
  font-size: .9rem;
  margin-bottom: .5rem;
  max-width: 20rem;
}

.ModeloCentro__label {
  margin-right: .5rem;
}

.ModeloCentro__grafico {
  padding: 2rem;
  display: flex;
  height: 50vh;
  width: 60vw;
}